/* Variables */
:root {  
  --margin-container-lg: 0px 150px;
  --margin-container-md: 0px 75px;
  --margin-container-sm: 0px 30px;
  --margin-container-xs: 0px 0px;
  --padding-container: 40px;
  --inbound-orange: rgb(233, 108, 25);
  --inbound-hover: rgb(250, 175, 125);
}

*{
    /* margin: 10px; */
    /* padding: 10px; */
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

/******* HEADER *******/
header {
    border-top: 5px solid var(--inbound-orange);
    margin-bottom: 15px;
}

.header-container {
    margin: var(--margin-container-lg);
    padding: var(--padding-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logotipo */
/* .logotype {
    border-style: solid;
} */

/* Social icons */
.social-icons {
    padding: 0px;
    width: 60px;
    align-self: flex-start;    
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}

.social-icons li {
    list-style-type: none;    
}

.social-icons li a i {
    color: var(--inbound-orange);    
}

.social-icons li a i:hover {
    color: var(--inbound-hover);    
}



/******* RESPONSIVE MEDIA QUERIES  *******/
/* Mid-length */
@media all and (max-width: 992px) {
    /* Header */
    header {
        border-top: 5px solid black;
    }

    .header-container {
        margin: var(--margin-container-md);        
    }
}



/* Small-length */
@media all and (max-width: 768px) {
    /* Header */
    header {
        border-top: 5px solid var(--inbound-orange);
    }

    .header-container {
        margin: var(--margin-container-sm);        
    }

    /* Logotipo */
    .logotype {
        width: 50%;
        height: auto;
    }
}



/* XS-length */
@media all and (max-width: 576px) {
    /* Header */
    header {
        border-top: 5px solid black;
    }

    .header-container {
        margin: var(--margin-container-xs);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;        
    }

    /* Logotipo */
    .logotype {
        width: 50%;
        min-width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    /* Social Icons */
    .social-icons {
        align-self:center;    
        width: 200px;   
    }
}