/* Variables */
:root {
  --margin-container-lg: 0px 150px;
  --margin-container-md: 0px 75px;
  --margin-container-sm: 0px 30px;
  --margin-container-xs: 0px 0px;
  --padding-container: 40px;
  --padding-container-xs: 25px;
  --inbound-orange: rgb(233, 108, 25);
  --inbound-hover: rgb(248, 164, 108);
  --inbound-grey: rgb(167, 167, 167);
  --footer-black: rgb(73, 73, 73);
  --footer-white: rgb(235, 233, 233);
  --separator-white: rgba(255, 254, 254, 0.137);
}

*{
    /* margin: 10px; */
    /* padding: 10px; */
    box-sizing: border-box;    
}

html, body {
    margin: 0;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/******* HEADER *******/
header {
    border-top: 5px solid var(--inbound-orange);
}

.header-container {
    margin: var(--margin-container-lg);
    padding: var(--padding-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logotipo */
/* .logotype {
    border-style: solid;
} */

/* Social icons */
.social-icons {
    padding: 0px;
    width: 60px;
    align-self: flex-start;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.social-icons li {
    list-style-type: none;
}

.social-icons li a i {
    color: var(--inbound-orange);
}

.social-icons li a i:hover {
    color: var(--inbound-hover);
}


/******* SEPARATOR IMAGE *******/
.separator-image-container {
    width: 100%;
    height: auto;
    /* margin-bottom: 40px; */
}

.separator-image {
    width: 100%;
    max-height: 130px;
    object-fit: cover;
    /* overflow: hidden; */
}


/******* MAIN SECTION LAYOUT *******/
.wrapper {
    margin: var(--margin-container-lg);
    padding: var(--padding-container);
    display: flex;
}

section {    
    /* background: #4E4E6A; */
    flex: 1 1 auto;
    position: relative;
}

aside {
    /* background: #F73f52; */
    flex: 1 1 auto;
}


/******* SECTION *******/
/* Imagen */
.ebook {
    position: absolute;
    z-index: 100;
    bottom: 45%;
    left: 55%;
    max-width: 50%;
    height: auto;
}

/* Título */
h1 {
    width: 50%;
    margin-bottom: 45px;
    font-size: 28px;
    color: var(--inbound-orange);
}

/* Subtítulo */
h2 {
    width: 50%;
    margin-bottom: 40px;
    font-size: 20px;
    color: var(--inbound-grey);
}

/* Separador */
hr {
    color: var(--separator-white);
    margin-bottom: 30px;
}

/* Texto */
.text {
    color: var(--footer-black);
    font-size: 14px;
    line-height: 25px;
}

#demo-link {
    color: var(--inbound-orange);
    font-weight: bold;
}

#demo-link:hover {
    color: var(--inbound-hover);
}

.emphasizes {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    color: var(--inbound-orange);
    font-weight: bold;
    text-transform: uppercase;
}


/******* FORM *******/
form {
    width: 350px;
    background-color: var(--footer-white);
    padding: 5px 30px 25px 30px;
    margin-left: 30px;
}

/* Form title */
h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--inbound-orange);
}


/* Input containers */
fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px;
}


/* First section of inputs */
input[type=text], [type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

input[type=email] {
    margin-bottom: 25px;
}

/* Second section of inputs */
.label-checkbox {
    display: block;
    color: var(--footer-black);
}

/* Link del primer checkbox */
#link-priv {
    text-decoration: none;
    color: var(--inbound-orange);
}

#link-priv:hover {
    color: var(--inbound-hover);
}

.label-checkbox:first-child {
    margin-bottom: 7px;
}

.label-checkbox:last-child {
    margin-bottom: 7px;
}

/* Button submit */
button {
    width: 100%;
    background-color: var(--inbound-orange);
    color: var(--footer-white);
    padding: 14px 20px;
    margin: 25px 0px 8px 0px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

button:hover {
    background-color: var(--inbound-hover);
}


/******* FOOTER *******/
footer {
    background-color: var(--footer-black);
    margin-top: 30px;
}

.footer-frame {
    margin: var(--margin-container-lg);
    padding: var(--padding-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Legal */
.legal-container {
    width: 500px;
    padding: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-text {
    color: var(--footer-white);
    font-size: 14px;
}

/* InboundCycle © 2015 */
#lg-first-element {
    order: 1;
}

/* Nav */
#lg-second-element {
    order: 2;
}

/* Elemento que queda en medio de los tres textos del footer */
#mid-element {
    border-left: 2px solid var(--inbound-grey);
    border-right: 2px solid var(--inbound-grey);
    text-align: center;
    /* margin-left: 5px; */
    width: 155px;
}

/* Aviso Legal */
#second-nav-element {
    width: 80px;
}

.legal-links {
    width: 245px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px;
}

.legal-links li {
    list-style-type: none;
    text-align: end;
}

.legal-links li a {
    text-decoration: none;
    width: 100%;
}

.legal-links li a:hover {
    color: var(--inbound-hover);
}


/******* POP-UP *******/
/* Container */
.popup {
    z-index: 200;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.486);
    display: none;
}

/* Pop-up */
.caption {
    margin: 0;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--inbound-orange);
    padding: 10px 15px;
    border-radius: 8px;
}

.caption i {
    float: right;
    cursor: pointer;
}

.caption i:hover {
    color: var(--inbound-grey);
}

.caption p {
    margin: 25px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--footer-white);
}




/******* RESPONSIVE MEDIA QUERIES  *******/
/* XL Length */
@media all and (min-width: 1800px) {
    /* Imagen */
    .ebook {
        bottom: 37%;
    }
}

/* Media queries relacionados con la imagen del ebook */
@media all and (max-width: 1325px) {
    /******* SECTION *******/
    /* Imagen */
    .ebook {
        bottom: 50%;
        left: 55%;
        max-width: 50%;
    }

    /* Título */
    h1 {
        margin-bottom: 35px;
        font-size: 24px;
    }

    /* Subtítulo */
    h2 {
        margin-bottom: 35px;
        font-size: 18px;
    }

    /* Separador */
    hr {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 1250px) {
    /******* ASIDE *******/
    form {
        width: 300px;
        padding: 5px 30px 25px 30px;
        margin-left: 30px;
    }
}

@media all and (max-width: 1195px) {
    /* Imagen */
    .ebook {
        bottom: 57%;
        left: 55%;
        max-width: 45%;
    }

    /* Título */
    h1 {
        width: 60%;
        margin-bottom: 30px;
        font-size: 22px;
    }

    /* Subtítulo */
    h2 {
        margin-bottom: 30px;
        font-size: 18px;
    }

    /* Separador */
    hr {
        margin-bottom: 25px;
    }
}

@media all and (max-width: 1100px) {
    /******* ASIDE *******/
    form {
        width: 250px;
        padding: 5px 30px 25px 30px;
        margin-left: 30px;
    }
}



/* Mid-length */
@media all and (max-width: 992px) {
    /* Header */
    header {
        border-top: 5px solid black;
    }

    .header-container {
        margin: var(--margin-container-md);
    }


    /******* MAIN SECTION LAYOUT *******/
    .wrapper {
        margin: var(--margin-container-md);
        display: flex;
        flex-direction: column;
    }

    section {
        flex: 0 1 auto;
        position: relative;
    }

    aside {
        flex: 0 1 auto;
    }


    /******* SECTION *******/
    /* Imagen */
    .ebook {
        bottom: 50%;
        left: 60%;
        max-width: 40%;
    }

    .emphasizes {
        margin: 50px 0px;        
    }

    .emphasizes i {
        transform: rotate(90deg);
    }


    /******* FORM *******/
    form {
        width: 100%;
        background-color: var(--footer-white);
        padding: 5px 30px 25px 30px;
        margin-left: 0px;
    }

    /* Form title */
    h3 {
        text-align: center;
        text-transform: uppercase;
        color: var(--inbound-orange);
    }


    /* Input containers */
    fieldset {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }


    /* First section of inputs */
    input[type=text], [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    }

    input[type=email] {
        margin-bottom: 25px;
    }

    /* Second section of inputs */
    .label-checkbox {
        display: block;
        color: var(--footer-black);
    }

    /* Link del primer checkbox */
    #link-priv {
        text-decoration: none;
        color: var(--inbound-orange);
    }

    #link-priv:hover {
        color: var(--inbound-hover);
    }

    .label-checkbox:first-child {
        margin-bottom: 7px;
    }

    .label-checkbox:last-child {
        margin-bottom: 7px;
    }



    /******* FOOTER *******/
    .footer-frame {
        margin: var(--margin-container-md);
    }


    /******* Pop-up *******/
    /* Pop-up */
    .caption {
        width: 30%;
    }
}



/* Small-length */
@media all and (max-width: 768px) {
    /* Header */
    header {
        border-top: 5px solid var(--inbound-orange);
    }

    .header-container {
        margin: var(--margin-container-sm);
    }

    /* Logotipo */
    .logotype {
        width: 50%;
        height: auto;
    }


    /******* MAIN SECTION LAYOUT *******/
    .wrapper {
        margin: var(--margin-container-sm);
    }


    /******* SECTION *******/
    /* Imagen */
    .ebook {
        bottom: 58%;
        left: 65%;
        max-width: 35%;
    }


    /******* FOOTER *******/
    .footer-frame {
        margin: var(--margin-container-sm);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .legal-container {
        margin-top: 20px;
        justify-content: center; 
        width: 100%;   
    }


    /******* Pop-up *******/
    /* Pop-up */
    .caption {
        width: 40%;
    }
}



/* XS-length */
@media all and (max-width: 576px) {
    /* Header */
    header {
        border-top: 5px solid black;
    }

    .header-container {
        margin: var(--margin-container-xs);
        padding: var(--padding-container-xs);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* Logotipo */
    .logotype {
        width: 50%;
        min-width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    /* Social Icons */
    .social-icons {
        align-self:center;
        width: 200px;
    }


    /******* MAIN SECTION LAYOUT *******/
    .wrapper {
        margin: var(--margin-container-xs);
    }


    /******* SECTION *******/
    /* Imagen */
    .ebook {
        bottom: 58%;
        left: 70%;
        max-width: 25%;
    }

    /* Título */
    h1 {
        width: 100%;
    }


    /******* FOOTER *******/
    .footer-frame {
        margin: var(--margin-container-xs);
    }

    .legal-container {    
        flex-direction: column;
    }

    /* InboundCycle © 2015 */
    #lg-first-element {
        order: 2;
    }

    /* Nav */
    #lg-second-element {
        order: 1;
        margin-bottom: 20px;
    }

    #mid-element {
        border-left: 0px;
    }

    /******* Pop-up *******/
    /* Pop-up */
    .caption {
        width: 50%;
    }
}


@media all and (max-width: 450px) {
    /* Imagen */
    .ebook {
        bottom: 62%;
        left: 60%;
        max-width: 40%;
    }
}